.-big {
  // font-size: $font--big;
  @include media-max($lg) {
    // font-size: 5vh;
  }
}
.-white {
  color: $white;
}
.-bg-- {
  &blue {
    background-color: $blue--light;
  }
  &white {
    background-color: $white--light;
  }
  &black {
    background-color: $black !important;
  }
  &grey {
    background-color: $white;
  }
}

.-f {
  &w {
    width: 100vw;
  }
  &h {
    min-height: 100vh;
  }
}
.-h {
  &w {
    width: 50vw;
  }
  &h {
    min-height: 50vh;
  }
}

.-p {
  &-10 {
    padding: 10%;
  }
  &t {
    &-10 {
      padding-top: 10%;
    }
  }
  &b {
    &-10 {
      padding-bottom: 10%;
    }
  }
}

.-slanted {
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
}

.-circle {
  border-radius: 50%;
}

.-displayNone {
  display: none !important;
}

.-fade--in {
  animation: fade--in 0.3s;
  animation-fill-mode: forwards;
}

@include keyframes(fade--in) {
  @include fade--in();
}
