.-big {
  font-size: $font--big;
  @include media-max($lg) {
    font-size: 5vh;
  }
}
.-white {
  color: $white--cloud;
}
.-bg-- {
  &blue {
    background-color: $blue--light;
  }
  &white {
    background-color: #fff;
  }
  &black {
    background-color: black !important;
  }
  &grey {
    background-color: $grey--light;
  }
}

.-f {
  &w {
    width: 100vw;
  }
  &h {
    min-height: 100vh;
  }
}
.-h {
  &w {
    width: 50vw;
  }
  &h {
    min-height: 50vh;
  }
}

.-p {
  &-10 {
    padding: 10%;
  }
  &t {
    &-10 {
      padding-top: 10%;
    }
  }
  &b {
    &-10 {
      padding-bottom: 10%;
    }
  }
}

.-slanted {
  clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
}

.-circle {
  border-radius: 50%;
}

.-displayNone {
  display: none !important;
}

.-hoverUnderline {
  position: relative;
  text-transform: uppercase;
  font-weight: 900;
  &::after {
    content: '';
    width: 100%;
    height: 2px;

    position: absolute;
    bottom: 0;
    left: 0;

    background-color: $blue--light;
    
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.-fade--in {
  animation: fade--in .3s;
  animation-fill-mode: forwards;
}

@include keyframes(fade--in) {
  @include fade--in();
}