@import url("https://fonts.googleapis.com/css?family=Raleway:400,600"); /* font-family: 'Raleway', sans-serif; */

$blue: #4682B4;
$pale: #4AADE9;
$black: #222222;
$white: #F1F2F5;

$blue--light: #7DC4FF;
$pale--light: #6AC7FF;
$black--light: #777777;
$white--light: #ffffff;

$blue--dark: #1E4667;
$pale--dark: #226E9C;
$black--dark: #000000;
$white--dark: #D6D6D6;

$font--big: 3.5vw;
$font-title--small: 1.2rem;
$font--md: 2vw;
$font--sm: 1vw;

$fontweight--sm: 200;
$fontweight--md: 300;
$fontweight--lg: 400;
$fontweight--xl: 700;

$shadow--soft: 0 0 8px rgba(0, 0, 0, 0.2);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;