@import url("https://fonts.googleapis.com/css?family=Raleway:400,600"); /* font-family: 'Raleway', sans-serif; */

$blue: #0067af;
$blue--dark: #00246d;
$blue--light: #4682b4;
$gray--light: #d6d6d8;
$black--smoky: #13021e;
$black--flat: #202020;
$purple--space: #1f1659;
$white--cloud: #eee;

// Renommer les variables
$font--big: 7vh;
$font-title--small: 1.2rem;
$font--md: 2vw;
$font--sm: 1vw;

$fontweight--sm: 200;
$fontweight--md: 300;
$fontweight--lg: 400;
$fontweight--xl: 700;

$shadow--soft: 0 0 8px rgba(0, 0, 0, 0.2);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
