@import url('https://fonts.googleapis.com/css?family=Raleway:400,600'); /* font-family: 'Raleway', sans-serif; */



$blue: #0067af;
$blue__dark: #00246d;
$gray__light: #D6D6D8;
$black__smoky: #13021E;
$black__flat: #202020;
$purple__space: #1F1659;
$white__cloud: #eee;


$font__big: 7vh;
$font-title__small: 1.2rem;

$shadow__soft: 0 0 8px rgba(0,0,0,.2);

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;