* {
  font-family: 'Raleway', sans-serif;
}

html,
body {
  overflow: scroll;
  text-rendering: optimizeLegibility;
  background: $black;
}
body {
  background-image: url("../img/bg/bg.png");
  background-attachment: fixed;

}
hr {
  width: 25%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 5% 0;
}

::selection {
  background: $blue;
}