.m-box {
  display: flex;
  justify-content: center;
  align-items: center;
  &__bg {
    background-size: cover;
    background-image: url("../img/controle.jpg");
  }
  &__content {
    &--title {
      right: 10vw;
      padding-bottom: 5%;
      font-size: $font--big;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
    &--text {
      font-size: $font--md;
      font-weight: $fontweight--sm;
    }
  }
  .a-sep {
    border-radius: 0;
    background: #eee;
    max-width: 8vw;
  }
  .right {
    margin-left: auto;
  }
}
