.box {
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-flex-flow: column wrap;
  @media all and (-ms-high-contrast:none) {
    margin-left: 0px;
    margin-right: 0px;
  }  
  &--bg {
    background-size: cover;
    background-image: url("../img/controle.jpg");
  }
  &__text {
    font-weight: $fontweight--md;
    & > * {
      font-family: -apple-system, system-ui, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    }
    & a {
      color: $black;
      transition: color .5s ease-in-out;
      &:hover {
        color: $white--light;
      }
    }
  }
  &__title {
    right: 10vw;
    padding-bottom: 5%;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 4px;

    & h2 {
      font-weight: $fontweight--xl;
    }
  }
  &__content {
    @include media-min($xl) {
      max-width: 75vw;
      padding: 10% 0;
    }
  }
  &__grids {
    display: flex;
    flex-flow: row wrap;
  }
  &__grid {
    width: 50vw;
    height: 45vh;
    display: flex;
    align-items: center;
    overflow: hidden;

    & > span {
      width: inherit;
      height: inherit;

      & img {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }

    &:nth-child(even) {
      justify-content: flex-start;
    }

    &:nth-child(odd) {
      justify-content: flex-end;
    }

    &:nth-child(2), &:nth-child(6) {
      padding-right: 2.5%;
    }
    &:nth-child(3) {
      padding-left: 2.5%;
    }

    @include media-max($sm) {
      width: 100vw;
      &:nth-child(1), &:nth-child(4), &:nth-child(5) {
        display: none;
      }
    }
  }

  &__border {
    border: 5px solid $blue--light;
    &--noleft {
      border-left: none;
    }
    &--noright {
      border-right: none;
    }
  }
  .separator {
    border-radius: 0;
    background: $white;
    max-width: 8vw;
  }
  .right {
    margin-left: auto;
  }
}
