.m-box {
  display: flex;
  justify-content: center;
  align-items: center;
  &__bg {
    background-size: cover;
    background-image: url("../img/controle.jpg");
  }
  &__content {
    &--title {
      right: 10vw;
      padding-bottom: 5%;
      font-size: $font--big;
      display: inline-block;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
    &--text {
      font-size: $font--md;
      font-weight: $fontweight--sm;
    }
  }
  &__grids {
    display: flex;
    flex-flow: row wrap;

    & .item {
      width: 50vw;
      height: 45vh;
      display: flex;
      align-items: center;

      &:nth-child(1),
      &:nth-child(4),
      &:nth-child(5) {
        background-image: url(https://loremflickr.com/320/240);
        background-size: cover;
      }

      &:nth-child(even) {
        justify-content: flex-start;
      }

      &:nth-child(odd) {
        justify-content: flex-end;
      }

      &__box {
        border: 5px solid $blue--light;

        & .box-child {
          border-left: none;
          &--reverse {
            border-right: none;
          }
        }
      }
    }
  }
  .a-sep {
    border-radius: 0;
    background: #eee;
    max-width: 8vw;
  }
  .right {
    margin-left: auto;
  }
}
