$bg__images: "../img/cardsbanner/card-1.jpg",
  "../img/cardsbanner/card-2.jpg", "../img/cardsbanner/card-3.jpg",
  "../img/cardsbanner/card-4.jpg";

.o-cardsbanner {
  position: relative;
  top: -10vh;
  height: 45vh;
  color: $white;
  z-index: 2;
  @include media-maxHeight($sm) {
    height: auto;
  }
  @include media-max($lg) {
    height: auto;
  }
  & .o-banner {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    height: inherit;
    & .m-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 25vw;
      min-height: 50vh;
      flex-grow: 1;
      overflow: hidden;
      & > a {
        text-align: center;
      }
      &__title {
        flex-grow: 0.33;
        font-size: $font-title--small;
        font-weight: 600;
        text-transform: uppercase;
        padding-top: 5%;
      }
      &__content {
        flex-grow: 0.33;
        font-weight: 200;
        overflow: hidden;

        @include media-max($md) {
          padding: 5% 0;
        }
        @include media-min($lg) {
          max-height: 20vh;
          margin-bottom: 5%;
          text-overflow: hidden;
        }
      }
      &__button {
        margin: auto;
        font-size: 1rem;
        color: $white;
        background: $pale;
        border-radius: 2rem;
      }
      @include media-max($sm) {
        width: 100vw;
      }
      @include media-max($lg) {
        width: 50vw;
      }
      @include media-min($lg) {
        &:hover {
          min-height: 60vh;
          border-radius: 0.5rem;
          transform: translateY(-5vh);
          background: linear-gradient(
            to bottom,
            $blue--dark,
            $black
          ) !important;
          transition-duration: 0.2s;
          transition-timing-function: ease-out;

          & .m-card__content {
            height: auto;
            max-height: none;
          }
        }
      }
      @for $i from 1 through length($bg__images) {
        &:nth-child(#{$i}) {
          background-size: cover;
          background-image: url(nth($bg__images, $i));
        }
      }
    }
  }
}
