
$bg__images: "../img/cardsbanner/ibazur.jpg", "../img/cardsbanner/projection.jpg", "../img/cardsbanner/machine.jpg", "../img/cardsbanner/plane.jpg";

.o-cardsbanner {
  height: 50vh;
  width: 100vw;
  top: 80vh;
  position: absolute;
  text-align: left;
  z-index: 2;
  & .m-card {
    width: 25vw;
    height: inherit;
    display: inline-block;
    padding: 1%;
    color: $white__cloud;
    &__title {
      padding: 5% 0;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 2vh;
    }
    @for $i from 1 through length($bg__images) {
      &:nth-child(#{$i}) {
        background-size: cover;
        background-image: url(nth($bg__images, $i));
      }
    }
  }
}