.footer {
  position: relative;
  & a {
    color: $blue--light;
    transition: all .3s;
    &:hover {
      text-decoration: none;
      color: $black--light;
    }
  }
  &__elements {
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
  }
  &__element {
    width: 60vw;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    margin: auto;

    @include media-max($lg) {
      width: 100vw;
    }
    &--30 {
      width: 30vw;
      min-height: 50vh;
      padding: 2.5% 0;

      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-between;
      @include media-max($lg) {
        width: 100vw;        
      }
    }
  }
  &__img {
    text-align: center;
    & > span > img {
      width: 20%;
    }
  }
  &__tel {
    & > a > span {
      font-family: sans-serif;
    }
  }
  &__social {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    & img {
      width: 6vw;
      height: 6vh;
      @include media-max($lg) {
        width: 12vw;
      }
    }
  }
  &__map {
    list-style: none;
    width: 20vw;
    margin-top: 5%;
    @include media-max($lg) {
      width: 33vw;
      text-align: center;
      padding: 0;
    }
    @include media-max($md) {
      width: 50vw;
      padding: 0;
    }
  }
  &__links {
    list-style: none;
    padding-left: 5%;
    word-break: break-all;
    @include media-max($lg) {
      padding-left: 0;
    }
  }
  &__title {
    text-transform: uppercase;
    font-weight: 600;
  }
}