.global {
  &__header {
    position: absolute;
    bottom: 0;

    min-height: 30vh;

    background-color: $black;
    color: $white;

    padding: 2.5% 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;

    & > h2 {
      text-transform: uppercase;
      font-weight: 600;
      padding-bottom: 2.5%;
      margin: 0;
    }
    & > h2, & p {
      border-left: 5px solid $pale--light;
      padding-left: 2.5%;
    }
  }
  &__section {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 5% 0;
    & > span {
      width: 30%;
      @include media-max($sm) {
        display: none;
      }
      & > img {
        width: 100%;
      }
    }
    &:nth-child(even) {
      background-color: $white--light;
    }
    &:nth-child(odd) {
      background-color: $white;
    }
  }
  &__text {
    width: 60%;
    @include media-max($sm) {
      width: 90%;
    }
    & > h4 {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 24px;
    }
    & > p {
      text-align: justify;
      padding-top: 2.5%;
      font-size: 16px;
    }
  }
  &__sections {
    &--darker {
      background-color: $white--light;
      & .container {
        padding: 5%;
        margin-top: 5%;    
        margin-bottom: 5%;    
        background-color: $white--dark;
      }
      & section {
        background-color: $white--dark;
        &:nth-child(odd) {
          padding-bottom: 5%;
        }
        & h4 {
          font-weight: 600;
          text-transform: uppercase;
          margin-bottom: 5%;
          font-size: 24px;
        }
        & p {
          font-size: 16px;
        }
      }
    }
  }
  &__wrapper {
    &:empty {
      display: none;
    }
  }


  &__photos {
    margin: auto;
    max-width: 60%;
    @include media-max($sm) {
      max-width: 90%;
    }
  }
  &__grid {
    display: flex;
    flex-flow: row wrap;
  }
  &__cell {
    width: 50%;

    @include media-min($lg) {
      width: calc(100% / 4);
    }

    & img {
      width: 95%;
      height: 95%;
    }
  }


  &__links {
    padding-top: 5%;
    list-style: none;
  }
}