.internationalContact {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;


  &__country {
    margin: auto;
    min-width: 80vw;
    @media all and (-ms-high-contrast:none) {
      width: 80vw;
    }
  }
}