.legals {


  &__title {
    margin: 10vh 0;
    padding: 5vh 0;
    min-height: 30vh;
    text-align: center;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  &__content {
    width: 100vw;
    min-height: 100vh;
    padding-top: 10vh;
    background-color: $white;
  }


  &__name {
    margin-bottom: 1em;
  }


  &__item {
    margin-bottom: 5em;
  }


}