.navbar {
  box-shadow: $shadow--soft;  
  background: linear-gradient(to bottom, #202020, rgba(0, 0, 0, 0.22));
  transition: background-color 1s ease-in-out; 
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  @include media-min($lg) {
    align-items: center;
  }
  @include media-max($lg) {
    text-align: center;
  }
  &:hover .nav-link:not(:hover) {
    opacity: .5;
  }

  .nav-item {
    margin: 0 1vw;
    & .a-lang {
      display: flex;
      align-items: center;
      height: 100%;
      & .a-lang__text {
        font-weight: $fontweight--sm;
        float: left;
        @include media-max($lg) {
          margin: auto;
        }      
      }
      & .fr {
        width: 20px;
        height: 20px;
        background-image: url("../img/flags/fr-fr.svg");
      }
      & .en {
        width: 20px;
        height: 20px;
        background-image: url("../img/flags/en-gb.svg");
      }
    }
    & .dropdown-toggle::after {
      display: none;
    }
    & .nav-link {
      font-family: 'Raleway', sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      color: $white--cloud;
      cursor: pointer;
      transition: all .3s;
      &:hover {
        color: $blue--light;
      }
      @include media-min($lg) {
        font-size: 1vw;
      }
    }
  }
  .dropdown-menu {
    top: auto;
    left: auto;
    & .dropdown-item {
      text-align: center;
    }
    &::before {
      border-bottom: 9px solid rgba(0, 0, 0, 0.2);
      border-left: 9px solid rgba(0, 0, 0, 0);
      border-right: 9px solid rgba(0, 0, 0, 0);
      content: "";
      display: inline-block;
      left: 50%;
      position: absolute;
      top: -8px;
    }
    &::after {
      border-bottom: 8px solid #ffffff;
      border-left: 9px solid rgba(0, 0, 0, 0);
      border-right: 9px solid rgba(0, 0, 0, 0);
      content: "";
      display: inline-block;
      left: 50%;
      position: absolute;
      top: -7px;
    }
  }
}
.navbar-brand {
  padding: 0;
  min-height: 8vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
.a-brand__img {
  height: 8vh;
  width: 20vw;
}
.a-bar {
  width: 22px;
  height: 2px;
  display: block;
  background-color: $white--cloud;
  transition: all 0.2s;
  margin-top: 4px;
  border-radius: 2rem;
}
.navbar-toggler {
  border: none;
  background: transparent !important;
  outline: none !important;
  .a-bar__top {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .a-bar__middle {
    opacity: 0;
  }
  .a-bar__bottom {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  &.collapsed {
    .a-bar__top {
      transform: rotate(0);
    }
    .a-bar__middle {
      opacity: 1;
      width: 75%;
    }
    .a-bar__bottom {
      transform: rotate(0);
      width: 50%;
    }
  }
}
.m-button {
  color: $blue;
  background-color: transparent;
  background-image: none;
  border-color: $blue;
  &:hover {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
}
.m-searchbar {
  &__input {
    background: transparent;
    border: none;
    border-bottom: 2px solid #d6d6d8;
    border-radius: 0;
    &:focus {
      background: transparent;
      color: $white--cloud;
      outline: none;
      box-shadow: none;
    }
  }
  &__button, &__button:hover, &__button:active {
    border: none;
    border-color: transparent !important;
    background: transparent;
    background-color: transparent !important;
    box-shadow: none;
  }
}
.form-control {
  @include media-min($lg) {
    font-size: 1vw;
  }
}
@media (max-width: 575.98px) {
  .form-control {
    width: 80%;
  }
  .m-button {
    margin: auto;
  }
  .a-brand__img {
    width: 50vw !important;
  }
}

@media (max-width: 991.98px) {
  .a-brand__img {
    width: 30vw;
  }
  .form-inline {
    padding-bottom: 5%;
  }
}
