.navbar {
  background: transparent;
  transition: background-color 1s ease-in-out;
  z-index: 10;
  @include media-max($lg) {
    background-color: $black--dark;
  }

  &-collapse {
    @include media-max($lg) {
      max-height: 75vh;
      overflow-y: scroll;
    }
  }
}
.navbar-nav {
  margin-left: auto;
  @include media-min($lg) {
    align-items: center;
  }
  @include media-max($lg) {
    text-align: center;
  }
  &:hover .nav-link:not(:hover) {
    opacity: 0.5;
  }

  .nav-item {
    margin: 0 1vw;
    & .lang {
      display: flex;
      align-items: center;
      height: 100%;
      @include media-max($lg) {
        margin: 1.5% 0;
      }
      & .lang__text {
        font-weight: $fontweight--sm;
        float: left;
        @include media-max($lg) {
          margin: auto;
        }
        @include media-min($lg) {
          padding: 10px;
        }
      }
      & .fr {
        background-repeat: no-repeat;
        background-image: url("../img/flags/fr-fr.svg");
        position: relative;
        height: 1rem;
        width: 1rem;
        @include media-min($lg) {
          width: 1vw;
          height: 1vw;
        }
      }
      & .en {
        background-repeat: no-repeat;
        background-image: url("../img/flags/en-gb.svg");
        position: relative;
        height: 1rem;
        width: 1rem;
        @include media-min($lg) {
          width: 1vw;
          height: 1vw;
        }
      }
    }
    & .dropdown-toggle::after {
      display: none;
    }
    & .nav-link {
      font-weight: 600;
      text-transform: uppercase;
      color: $white;
      cursor: pointer;
      transition: all 0.3s;
      font-size: 14px;
      &:hover {
        color: $blue--light;
      }
      @include media-min($lg) {
        font-size: 1vw;
      }
    }
  }

  .dot:after {
    content: " •";
  }

  .dropdown-menu {
    border-radius: 0;
    animation: fade--in 0.2s;
    overflow-y: scroll;
    & .submenu {
      & .show {
        @include media-max($lg) {
          background-color: lightgrey;
        }
      }
      @include media-min($lg) {
        box-shadow: none;
        height: auto;
        position: relative;
        top: auto;
        padding: 0px;
        background-color: transparent;
        width: auto;
        margin: 2.5% 5%;
        border-left: 0.12em solid $blue;
      }
    }
    &__title {
      padding: 0 1.5rem;

      @include media-max($lg) {
        display: none;
      }
      & h4 {
        font-weight: 600;
      }
    }

    @include media-min($lg) {
      top: 10vh;
      left: 0;
      width: 100vw;
      border: 0;
      text-transform: uppercase;
      flex-flow: column wrap;
      padding: 10%;
      box-shadow: 0px 10px 10px -10px $black;
      opacity: 0.95;
    }
    & hr {
      padding: 10px 0;
      border-bottom: 0.06em solid #e3e3e3;
      margin-left: 1.5rem;
      margin-bottom: 2em;
      margin-top: 0;
      width: 15%;
      @include media-max($lg) {
        display: none;
      }
    }
    & > li {
      margin-bottom: 0;
    }
    & .dropdown-item {
      margin: 10px 0;
      letter-spacing: 1px;
      font-size: 16px;
      cursor: pointer;

      &:first-child {
        margin-top: 0;
      }
      &:hover {
        background-color: inherit;
      }
      &:hover > span {
        color: $blue;
        transition: color 0.2s ease-in-out;
      }
    }
  }
}
.disabled {
  pointer-events: none;
  cursor: default;
}

.navbar-brand {
  padding: 0;
  min-height: 8vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
.brand__img {
  height: 8vh;
  width: 20vw;
}
.bar {
  width: 22px;
  height: 2px;
  display: block;
  background-color: $white;
  transition: all 0.2s;
  margin-top: 4px;
  border-radius: 2rem;
}
.navbar-toggler {
  border: none;
  background: transparent !important;
  outline: none !important;
  font-size: 0;
  .bar__top {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .bar__middle {
    opacity: 0;
  }
  .bar__bottom {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  &.collapsed {
    .bar__top {
      transform: rotate(0);
    }
    .bar__middle {
      opacity: 1;
      width: 75%;
    }
    .bar__bottom {
      transform: rotate(0);
      width: 50%;
    }
  }
  &--desktop {
    display: none;
    @include media-min($lg) {
      position: absolute;
      display: block !important;
      top: 15%;
      right: 10%;
      & .bar--black {
        background-color: $black;
      }
    }
  }
}
.button {
  color: $blue;
  background-color: transparent;
  background-image: none;
  border-color: $blue;
  &:hover {
    color: $white;
    background-color: $blue;
    border-color: $blue;
  }
  &:focus,
  &.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
}
.searchbar {
  &__button,
  &__button:hover,
  &__button:active {
    border: none;
    border-color: transparent !important;
    background: transparent;
    background-color: transparent !important;
    box-shadow: none;

    @include media-min($lg) {
      height: auto;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & > svg {
      width: 1rem;
      @include media-min($lg) {
        width: 1.2vw !important;
        height: auto;
      }
    }
  }
}
.form-control {
  @include media-min($lg) {
    // font-size: 1vw;
  }
}
@media (max-width: 575.98px) {
  .form-control {
    width: 80%;
  }
  .m-button {
    margin: auto;
  }
  .brand__img {
    width: 50vw !important;
  }
}

@media (max-width: 991.98px) {
  .brand__img {
    width: 30vw;
  }
  .form-inline {
    padding-bottom: 5%;
  }
}

.dropdown-menu.dropdown-menu-center.show {
  max-height: 50vh;
  @include media-min($lg) {
    max-height: 100vh;
  }
}
