$bottomRadius: 4px;

.searchbox {
  & .searchbar__button {
    box-shadow: none;
  }
  & > .modal {
    display: block;
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);

    & > .modal-dialog {
      top: 10vh;

      & > .modal-content {
        border-radius: 2px;
      }

      & .modal-body {
        max-height: 60vh;
        overflow: scroll;
        user-select: none;
        & > a {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $blue;
          transition: color 0.2s ease-in-out;
          padding-bottom: 20px;
          &:hover {
            color: $pale;
            text-decoration: none;
          }
        }
        &:empty {
          display: none;
        }
      }

      & .modal-header > input {
        width: 100%;
      }
    }

    & .close,
    & #searchInput,
    & .close:focus,
    & #searchInput:focus {
      background: transparent;
      border: none;
      outline: none;
    }
    & .close {
      cursor: pointer;
      @include media-max($lg) {
        width: 5em;
      }
    }
  }
}
