$bottomRadius: 4px;

.searchbox {
  & .m-searchbar__button {
    box-shadow: none;
  }
  & .searchform {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50vw;
    min-height: 20vh;
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom-left-radius: $bottomRadius;
    border-bottom-right-radius: $bottomRadius;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

    & > input {
      width: 100%;
      min-height: 10vh;

      border: none;
      background: transparent;
      font-style: italic;
      font-size: 1.3em;
      padding: 0 5%;
      letter-spacing: 1px;
    }
  }
  & > .modal {
    display: block;
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);

    & > .modal-dialog {
      padding-top: 10vh;

      & .modal-body {
        max-height: 60vh;
        overflow: scroll;
        user-select: none;
        & > a {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $blue;
          transition: color .2s ease-in-out;
          padding-bottom: 20px;
          &:hover {
            color: $pale;
            text-decoration: none;
          }
        }
      }

      & .modal-header > input {
        width: 100%;
      }
    }

    & .close,
    & #searchInput,
    & .close:focus,
    & #searchInput:focus {
      background: transparent;
      border: none;
      outline: none;
    }
    & .close {
      cursor: pointer;
    }
  }
}
