/* Images slider */

$images: "../img/machines__aero.jpg", "../img/airplane.jpg",
  "../img/machines__simulation.jpg";
.a-shadow {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.m-slideshow {
  height: 90vh;
  padding: 0;
  @include prefix(background-size, cover, webkit moz o);
  &:after {
    position: absolute;
    width: 100vh;
    height: 85vh;
    left: 0;
    z-index: 0;
  }
  & li {
    list-style: none;
  }
  & li span {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0;
    z-index: 0;
    @include prefix(
      animation,
      sliderAnimation 12s linear infinite 0s,
      webkit moz o
    );
  }
  @for $i from 1 through length($images) {
    & li:nth-child(#{$i}) span {
      background-image: url(nth($images, $i));
      @if ($i == 1) {
        @include prefix(animation-delay, 0s, webkit moz o);
      }
      @if ($i == 2) {
        @include prefix(animation-delay, 4s, webkit moz o);
      }
      @if ($i == 3) {
        @include prefix(animation-delay, 8s, webkit moz o);
      }
    }
  }
}
.m-slideshow__content {
  top: 45vh;
  margin-left: 10vw;
  margin-right: 30vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  transform: translateY(-45%);
  z-index: 2;
  & .a-title {
    display: inline-block;
    font-weight: 600;
  }
}
.a-sep {
  height: 1vh;
  width: auto;
  display: block;
  margin: 5% 5% 10% 1%;
  background: linear-gradient(to right, #0078e0, #00aeef);
  border-radius: 2rem;
  box-shadow: $shadow--soft;
}
.a-subtitle {
  font-size: 3vh;
}
@include keyframes(sliderAnimation) {
  @include sliderAnimation();
}
